[phases.setup]
nixPkgs = ["python310", "postgresql"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[phases.build]
cmds = ["echo 'No build phase needed'"]

[start]
cmd = "uvicorn app.main:app --host 0.0.0.0 --port $PORT"
